.button-small {
  font-family: Tensentype-MaiHeiJ;
  text-align: center;
  width: fit-content;
  border-radius: 1em;
  font-size: medium;
  padding: 1em 1em;

  &#btnHome {
    background-image: url("../../static/images/btnTag.png");
    background-size: 100%;
    border-radius: 0;
    padding: 0.6em 1em;
    margin-top: 10%;
    color: #0B5E57;
    font-weight: 700;
  }
  &#btnWishStatu {
    color: #577dab;
    font-size: 100%;
    display: flex;
    flex: 0 0 auto;
    padding: 0;
  }

  &#btnSeeMyWish {
    color: #577dab;
    padding: 0.4em 0.7em;
    font-weight: 600;
    z-index: 99;
    display: flex;
    align-self: flex-end;

    &::before {
      content: url("../../static/images/noteBook.png");
      margin-right: 0.5em;
    }
  }

  &#btnDelete {
    background-image: url("../../static/images/btnOrange.png");
    background-size: cover;
    padding: 1em 1em;
    width: 7em;
    font-weight: 700;
    font-family: Tensentype-MaiHeiJ;
    color: aliceblue;
  }

  &#Achieved {
    background-image: url("../../static/images/btnGrey.png");
    background-size: cover;
    color: #ffffff;
    width: 6em;
    margin-left: 3em;
  }
  &#Achieved2 {
    background-image: url("../../static/images/btnGrey.png");
    background-size: cover;
    color: #ffffff;
    width: 6em;
  }

  &#toAchieve {
    background-image: url("../../static/images/btnGreen2.png");
    color: #577dab;
    width: 6em;
    margin-left: 3em;
  }

  &#Abandon-Delete {
    background-image: url("../../static/images/btnOrange.png");
    color: white;
    width: 6em;
    margin-left: 1em;
    width: 6em;
  }

  &#btnRuleShow {
    background-image: url("../../static/images/btnWhite.png");
    margin-top: 1em;
    padding: 0.5em 1em 0.5em;
  }

  &#btnSelectTag {
    color: #577dab;
    font-size: larger;
    font-weight: 400;
    padding: 0;
    margin-left: 3em;
    align-items: center;
  }

  &#btnSend {
    transform: scale(200%);
  }

  &#btnLight {
    background-image: url("../../static/images/btnLightGreen.png");
    color: #577dab;
  }

  &#sideAlert {
    background-image: url("../../static/images/alertSideBG.png");
    opacity: 0.5;
    background-size: cover;
    border-radius: 1em;
    position: fixed;
    color: white;
    top: 65vh;
    left: -1em;
    z-index: 301;
  }
}
