* {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.button-large {
  display: flex;
  font-family: Tensentype-MaiHeiJ;
  text-align: center;
  border-radius: 0.5em;
  font-size: x-large;
  padding: 0.4em 1.5em;
  margin-top: 1em;
  color: #577DAB;
  background-image: url("../../static/images/btnWhite.png");
}

.button-small {
  font-family: TsangerShuYuanTW02;
  text-align: center;
  width: fit-content;
  border-radius: 1em;
  font-size: medium;
  padding: 0.2em 1em;

  &#btnHome {
    background-image: url("../../static/images/btnTag.png");
    border-radius: 0;
    padding: 0.6em 1em;
  }

  &#btnSeeMyWish {
    color: #577DAB;
    align-self: flex-start;
    padding: 0.4em 0.7em;
    font-size: medium;
    font-weight: 600;
    z-Index: 999;
    margin-left: 55%;

    &::before {
      content: url("../../static/images/noteBook.png");
    }
  }


  img {
    margin-right: 0.3em;
    height: 1em;
    vertical-align: middle;
  }
}