@import "../../config/globalCssVar.scss";

.div-leaf-empty {
    position      : relative;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin        : 0 10vw;

    .text-empty {
        margin-top         : 27vh;
        padding            : 5em 2em;
        font-size          : x-large;
        font-family        : TsangerShuYuanTW02;
        color              : white;
        background         : url("../../static/images/leaf.svg");
        background-size    : contain;
        background-repeat  : no-repeat;
        background-position: center;
        text-align         : left;
    }


}

.div-wishlist {
    position  : absolute;
    margin-top: $LogoHeight + 2vh;
    width     : 100vw;

    ol {
        position  : relative;
        margin-top: 5%;

        li {
            background-image : url("./images/WishItem.png");
            background-repeat: no-repeat;
            background-size  : contain;
            font-size        : medium;
            padding          : 2em 0 0.5em 2em;
            max-width        : 88%;

            .text-detail {
                position     : relative;
                text-align   : start;
                overflow     : hidden;
                text-overflow: ellipsis;
                white-space  : nowrap;
                color        : white;
            }

            .status {
                position       : relative;
                display        : flex;
                width          : 85%;
                justify-content: space-between;
                align-items    : center;
                margin-top     : 0.5em;


                .text-wishtime {
                    color      : #666666;
                    font-size  : small;
                    font-family: PingFangSC;
                    position   : relative;
                    text-align : end;
                }
            }
        }
    }
}



.item-wish {
    margin: 0;
}



.div-listbottom {
    margin-top: 5vh;
}

.div-wishlist .div-listbottom p {
    font-size    : 4.8vw;
    margin-bottom: 1.5vh;
    margin-top   : 1.5vh;
    text-align   : center;
    color        : #ff7a59;
}

.div-wishlist .div-listbottom hr {
    background-color: #ff7a59;
    margin          : 0 10vw 0 10vw;
}

.div-wishlist-toppadding {
    position  : fixed;
    width     : 100%;
    height    : 25%;
    z-index   : 301;
    background: linear-gradient(rgba(249, 210, 145, 1) 90%, rgba(249, 210, 145, 0));
}