@import "../../config/globalCssVar.scss";

b {
  color: rgb(54, 53, 53);
}

.div-leaf-empty {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw;

  .text-empty {
    margin-top: 27vh;
    padding: 5em 2em;
    font-size: x-large;
    font-family: Tensentype-MaiHeiJ;
    color: white;
    background: url("../../static/images/leaf.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
  }
}

.div-wishlist-toppadding {
  position: fixed;
  z-index: 101;
  top: 0;
  width: 100%;
  height: calc($HeaderHeight + $LogoHeight + 2vh);
}

.div-wishlist {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc($LogoHeight - 15vh);
  width: 100%;
  height: 70vh;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  hr {
    width: 100%;
  }

  h3 {
    align-self: flex-start;
    margin-left: 2em;
    font-family: Tensentype-MaiHeiJ;
    color: #577DAB;
    margin-bottom: 0.2em;
  }

  ul {
    margin: 5%;
    width: 95%;
    align-self: flex-start;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
  }

  .div-listbottom {
    width: 80%;
    margin-top: 1em;

    hr {
      background-color: #577DAB;
      border-color: #577DAB;
    }

    p {
      margin: 0.5em 0;
      color: #577DAB;
    }
  }
}

.item-wish {

  // TODO：背景图引入可改为背景色
  &.yellow {
    background-image: url("../../static/images/wishItemYellow.png");
  }

  &.orange {
    // background-color: #feb183;
    background-image: url("../../static/images/wishItemOrange.png");
  }

  &.red {
    // background-color: #f3b5aa;
    background-image: url("../../static/images/wishItemRed.png");
  }

  &.pink {
    // background-color: #f5cec7;
    background-image: url("../../static/images/wishItemPink.png");
  }

  &.clip::after{
    content: url("../../static/images/ItemClip.png");
    margin-top: 6.5%;
    margin-left: -7%;
  }
  &.medal::after{
    content: url("../../static/images/ItemMedal.png");
    margin-top: 6.5%;
    margin-left: -7%;
  }

  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 100%;
  width: 85%;
  list-style: none;
  margin-top:4%;

  .wish-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 0 0 100%;

    .text-detail {
      display: flex;
      position: relative;
      font-size: 112%;
      color: #577DAB;
      padding-left: 0.5em;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .status {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 85%;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5em;

      .text-wishtime {
        color: #577DAB;
        font-size: 97%;
        font-family: Tensentype-MaiHeiJ;
        position: relative;
        text-align: end;
        display: flex;
      }
    }
  }
}

#itemSign {
  margin-top: 2vh;
  display: flex;
  flex: 0 0 auto;
}

.MywishDetail {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    position: relative;
    margin-top: calc($LogoHeight + 2vh);

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0 !important;

    background: url("../../static/images/panel_upper.svg");
    background-repeat: no-repeat;
    background-position: top;
    padding: 29% 9% 0% 9%;
    overflow: scroll;

    .forward {
      width: 1.5rem;
      align-self: flex-end;
      margin-right: 1.5rem;
      margin-top: 0.5rem;
    }

    .text {
      display: relative;
      background-image: linear-gradient(to right,
          rgb(241, 197, 126) 10px,
          transparent 10px),
        linear-gradient(to left, rgb(241, 197, 126) 10px, transparent 10px),
        linear-gradient(rgb(241, 197, 126) 30px,
          black 30px,
          black 31px,
          white 31px);

      word-break: break-all;
      border: 0px;
      background-size: 100% 100%, 100% 100%, 100% 31px;
      line-height: 30px;
      font-family: Tensentype-MaiHeiJ;
      width: 80%;
      height: 9em;
      background-color: rgb(241, 197, 126);
      resize: none;
      color: white;
      padding: 8px;
      font-size: medium;
      margin-top: 0.8em;
    }

    .wishInfo {
      align-self: flex-end;
      margin-right: 2em;
      margin-top: 0.5em;

      p {
        font-family: Tensentype-MaiHeiJ;
        font-size: large;
      }
    }
  }
}