.wishpage {

  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  #btnSeeMyWish {
    display: flex;
  }

  .wishes {
    display: flex;
    margin-top: 0.6em;
    height: 60vh;

    .wish-item {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 6em 3em 2em 3em;
      right: 0em;
      touch-action: none;

      .wish-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        touch-action: none;

        &2 {
          padding-bottom: 10vh;
        }
      }

      .content {
        background-image: url("../../static/images/wishItemBG.png");
        position: relative;
        font-family: Tensentype-MaiHeiJ;
        width: 70vw;
        height: 50vh;
        overflow: scroll;
        margin-top: -7vh;
        overflow-x: hidden;
        background-size: contain;

        .contentText {
          margin: 5vh;
          display: flex;
          flex-direction: column;
          width: 74%;
          overflow-x: hidden;

          .content-word {
            height: 10em;
            overflow-y: scroll;
            overflow-x: hidden;
            word-break: break-all;
            border: 0px;
            background-size: 100% 100%, 100% 100%, 100% 31px;
            line-height: 31px;
            font-family: Tensentype-MaiHeiJ;
            color: #577dab;
            padding: 8px;
            font-size: 100%;
          }

          .msg {
            // position: relative;
            margin-top: 15%;
            width: 100%;
            // color: white;
            font-size: 135%;
            display: flex;
            justify-content: center;
            touch-action: none;

            p {
              display: flex;
              margin-left: 16%;
              font-size: 93%;
              // justify-content: space-between;
              // position: relative;
              width: 100%;
              font-family: Tensentype-MaiHeiJ;
            }
          }
        }
      }
    }
  }

  .btnLight {
    display: flex;
  }

  .input-msg {
    position: relative;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
      color: rgb(239, 96, 63);
      text-align: center;
      font-size: medium;
    }

    .form {
      position: relative;
      color: white;
      font-size: medium;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-between;
      margin-bottom: 1em;
      font-family: Tensentype-MaiHeiJ;

      input {
        width: 55%;
        font-family: Tensentype-MaiHeiJ;
        font-size: medium;
        border-radius: 0.5em;

        border: none;
        padding: 0.2em;
      }

      select {
        margin-left: 1em;
        border: none;
        font-size: medium;
        border-radius: 0.5em;
      }
    }
  }
}

.rule-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 150;

  .cover {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
  }

  .rule-alert {
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 80vw;
    background-image: url("../../static/images/ruleBG.png");
    background-size: cover;
    border-radius: 3vh;
    font-family: Tensentype-MaiHeiJ;
    color: #577dab;
    font-weight: 700;
    z-index: 150;
    padding: 3vh 4.5vw;
  }

  .rule-alert .rule-text {
    display: inline-block;
    font-size: 1.7vh;
  }

  .rule-alert .rule-text p {
    display: inline;
    color: #577dab;
  }
}