.wishpage {
  
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  .wish-item {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 15em;
    // height: 14em;
    padding: 6em 3em 2em 3em;
    right: 0em;
    touch-action: none;

    .wish-img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      touch-action: none;
    
      &2{
        padding-bottom: 10vh;
      }
    }

    .content {
      background-image: url("../../static/images/wishItemBG.png");
      position: relative;
      font-family: TsangerShuYuanTW02;
      // width: 12em;
      // height: 10em;
      width: 70vw;
      height: 50vh;
      // min-height: 7em;
      // max-height: 8em;
      // padding-top: 5em;
      overflow: scroll;
      margin-top: -7vh;

      .contentText{
        margin:5vh;
        display: flex;
        flex-direction: column;

        .content-word {
          width: 12em;
          height: 10em;
          overflow-y: scroll;
          overflow-x: hidden;
          word-break: break-all;
          border: 0px;
          background-size: 100% 100%, 100% 100%, 100% 31px;
          line-height: 31px;
          font-family: TsangerShuYuanTW02;
          color: #577dab;
          padding: 8px;
          font-size: medium;
        }

        .msg {
          position: relative;
          margin-top: 3em;
          width: 100%;
          color: white;
          font-size: x-large;
          display: flex;
          justify-content: space-around;
          touch-action: none;
    
          p {
            justify-content: space-between;
            position: relative;
            width: 100%;
            font-family: TsangerShuYuanTW02;
          }
        }
      }

      
    }

    
  }

  .input-msg {
    position: relative;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
      color: rgb(239, 96, 63);
      text-align: center;
      font-size: medium;
    }

    .form {
      position: relative;
      color: white;
      font-size: medium;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-between;
      margin-bottom: 1em;
      font-family: TsangerShuYuanTW02;

      input {
        width: 55%;
        font-family: TsangerShuYuanTW02;
        font-size: medium;
        border-radius: 0.5em;

        border: none;
        padding: 0.2em;
      }

      select {
        margin-left: 1em;
        border: none;
        font-size: medium;
        border-radius: 0.5em;
      }
    }
  }
}
