@import "../../config/globalCssVar.scss";

.header {
  position: relative;
  font-size: x-large;
  height: $HeaderHeight;
  width: $AppMaxWidth;
  flex-grow: 0;

  .comp-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $HeaderHeight;
    width: 100%;
    max-width: $AppMaxWidth;

    .logo-rule {
      display: flex;
      position: relative;
      width: 100vw;
      margin-top: 13vh;
    }

    .logo {
      display: flex;
      margin: 0 auto;
      align-self: center;

      img {
        width: 60vw;
      }
    }

    .rule {
      display: flex;
      position: absolute;
      flex-direction: column;
      right: 1rem;
      margin-top: 1rem;

      .img-rule {
        display: flex;
        align-self: center;
        margin: 0 auto;
      }

      .text-rule {
        margin-top: 0.5rem;
        font-size: 1rem;
        font-family: Tensentype-MaiHeiJ;
        color: #577dab;
        white-space: nowrap;
      }
    }



  }
}