@import "../../config/globalCssVar.scss";

.Detail {
  // margin-top: -10vh;
  position: relative;
  width: 100%;
  height: $ContentHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .forward {
    transform: scale(150%);
    align-self: flex-end;
    margin-right: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    p{
      font-family:Tensentype-MaiHeiJ;
      font-size:xx-small;
    }
  }

  .content {
    position: relative;
    height: 40%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0 !important;
    width: 80%;
    background: url("../../static/images/textContainer.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 20% 9% 0% 9%;



    .text {
      overflow: scroll;
      width: 80%;
      min-height: 9em;
      max-height: 10em;

      .text-content {
        min-height: 9em;
        word-break: break-all;
        border: 0px;
        background-size: 100% 100%, 100% 100%, 100% 31px;
        line-height: 31px;
        font-family: Tensentype-MaiHeiJ;
        color: #577DAB;
        padding-top: 0px;
        font-size: medium;
      }
    }

    .wishInfo {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      margin-right: 2em;
      margin-top: 0.5em;

      p {
        display: flex;
        flex-direction: row;
        font-family: Tensentype-MaiHeiJ;
        font-size: large;

        &.fromWho {
          align-self: flex-end;
        }
      }

      #fromText {
        color: #ff7a59;
      }

    }
  }

  .other {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  // 愿望主界面
  .wish {
    position: relative;
    margin: 0 5%;
    width: 76%;
    background-image: url("../../static/images/panel_upper.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40% 7% 2% 7%;
    font-size: medium;

    p {
      font-family: Tensentype-MaiHeiJ;
      color: white;
    }

    .p-content {
      position: relative;
      width: 100%;
      margin-top: 3%;

      p {
        text-align: left;
      }

      hr {
        margin: auto;
        width: 100%;
        background-color: black;
      }
    }

    .p-name {
      margin-top: 10%;
      text-align: right;
    }

    .p-time {
      text-align: right;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }

  .PersonId{
    display: flex;
    align-self: flex-start;
    padding-left: 5vh;
    font-size: x-large;
    color: #577DAB;
  }

  // 按钮
  .panel-button {
    display: flex;
    padding: 2em;
  }

  // 许愿人信息
  .msg {
    position: relative;
    width: 80%;
    background-image: url("../../static/images/PersonMsgBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin-left: 0.5em;
    padding: 1em;

    p {
      font-family: Tensentype-MaiHeiJ;
    }

    .msg-text {
      font-size: large;
      margin: -1em;

      .h {
        color: #ff7a59;
        margin-top: 0.5em;
        text-align: left;
      }

      .name {
        color: #577DAB;
        margin-top: 0.5em;
        font-size: larger;
        align-self: flex-start;
        width: 4em;
        text-align: right;
      }
    }

    .msg-info {
      margin-right: 1em;
      justify-content: space-evenly;
      color: #577DAB;
      align-items: flex-end;

      p {
        font-size: small;
        text-align: right;
      }

      ul {
        margin-top: 0.5em;
      }

      li {
        list-style: none;
        font-size: small;
        text-align: right;
      }
    }
  }

  // 取消心愿时的表
  .msg-borad {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;

    p {
      display: contents;
    }

    .options {
      display: flex;

      input {
        margin-right: 0.5em;
      }

      p {
        margin-left: 0.5em;
        text-align: left;
      }

      .reason {
        height: 2em;
        border: none;
        border-radius: 1em;
        width: max-content;
        padding-left: 1em;
      }
    }
  }

  .input-msg {
    width: 77%;
    color: white;

    p {
      display: inline-block;
    }

    .name {
      margin-top: 0.5em;

      input {
        width: 60%;
        height: 2em;
        margin-left: 1em;
        border: none;
        border-radius: 0.5em;
        padding-left: 0.5em;
        font-family: Tensentype-MaiHeiJ;
      }
    }

    select {
      background-color: white;
      margin-left: 0.5em;
      border: none;
      border-radius: 0.5em;
      height: 2em;
      color: #ff7a59;
    }

    input {
      margin-top: 0.5em;
      height: 2em;
      margin-left: 3vw;
      border: none;
      border-radius: 0.5em;
      padding-left: 0.5em;
      font-family: Tensentype-MaiHeiJ;
    }
  }
}


.nav{
margin-left: 80vw;
  color: #577DAB;
}
.notfound {
  margin-left: 50%;
  margin-right: 50%;
  font-size: xx-large;
}