.Detail {

    position       : relative;
    width          : 100%;
    height         : 90%;
    margin-top     : 10vh;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-around;


    hr {
        width           : 90%;
        background-color: #707070;
    }

    .msg-borad {
        position        : absolute;
        overflow        : hidden;
        top             : 40%;
        left            : 50%;
        transform       : translate(-50%, -50%);
        z-index         : 100;
        background-color: rgb(251, 209, 146);
        width           : 80vw;
        height          : 40vh;
        border-radius   : 3vh;
        color           : #FF7A59;

        .msg-content {

            width : 80%;
            margin: 3vh auto;

            .options {
                display: flex;

                .reson {
                    height       : 3vh;
                    border       : none;
                    border-radius: 1vh;
                    width        : 50vw;
                    padding-left : 2vw;
                    margin-top   : 1vh;
                }
            }

            input {
                margin-right: 3vw;
            }

            p {
                display: inline-block;
            }
        }

        .no-msg {
            position        : absolute;
            bottom          : 0;
            left            : 0;
            height          : 5vh;
            width           : 50%;
            display         : inline-block;
            background-color: white;
            color           : black;
            text-align      : center;
            line-height     : 5vh;
            font-size       : 5vw;
        }

        .sure-msg {
            position        : absolute;
            bottom          : 0;
            right           : 0;
            height          : 5vh;
            width           : 50%;
            display         : inline-block;
            background-color: rgb(255, 121, 89);
            color           : #fff;
            text-align      : center;
            line-height     : 5vh;
            font-size       : 5vw;
        }


    }

    .wish {

        position         : relative;
        margin           : 0 5%;
        width            : 76%;
        background-image : url('./images/3.svg');
        background-repeat: no-repeat;
        background-size  : cover;
        padding          : 40% 7% 2% 7%;
        font-size        : medium;

        p {
            font-family: TsangerShuYuanTW02;
            color      : white;
        }

        .p-content {

            position  : relative;
            width     : 100%;
            margin-top: 3%;

            p {
                text-align: left;
            }

            hr {
                margin          : auto;
                width           : 100%;
                background-color: black;
            }
        }

        .p-name {
            margin-top: 10%;
            text-align: right;
        }

        .p-time {
            text-align : right;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }

    .alert {
        height          : 100vh;
        width           : 100vw;
        position        : absolute;
        z-index         : 99;
        background-color: black;
        opacity         : 0.5;
        top             : -13vh;
    }

    .content {
        position        : absolute;
        overflow        : hidden;
        top             : 40%;
        left            : 50%;
        transform       : translate(-50%, -50%);
        z-index         : 100;
        background-color: rgb(251, 209, 146);
        width           : 80vw;
        height          : 25vh;
        border-radius   : 3vh;

        .text {
            font-family : TsangerShuYuanTW02;
            text-align  : center;
            line-height : 18vh;
            padding-left: 3vw;
            height      : 18vh;
            font-size   : 5.5vw;
            color       : #FF7A59;
            box-sizing  : border-box;
        }

        .long-text {
            font-family   : TsangerShuYuanT\ W02;
            // text-align: center;
            // line-height: 18vh;
            padding-top   : 5vh;
            padding-left  : 3vw;
            height        : 18vh;
            font-size     : 5.5vw;
            color         : #FF7A59;
            box-sizing    : border-box;

            span {
                white-space: pre-line;
            }
        }

        .sure {
            height          : 7vh;
            width           : 50%;
            display         : inline-block;
            background-color: white;
            text-align      : center;
            line-height     : 7vh;
            font-size       : 5vw;

        }

        .cancel {
            height          : 7vh;
            width           : 50%;
            display         : inline-block;
            background-color: rgb(255, 121, 89);
            line-height     : 7vh;
            text-align      : center;
            font-size       : 5vw;
        }
    }

    .panel-button {
        display: flex;
    }


    .msg {
        position         : relative;
        width            : 80%;
        background-image : url('./images/2.svg');
        background-repeat: no-repeat;
        background-size  : cover;
        display          : flex;
        justify-content  : space-between;
        margin-left      : 0.5em;
        padding          : 1em;

        p {
            font-family: TsangerShuYuanTW02;
        }

        .msg-text {
            font-size  : large;
            margin-left: 0.5em;

            .h {
                color     : #FF7A59;
                margin-top: 0.5em;
                text-align: left;
            }

            .name {
                color     : #fff;
                margin-top: 0.5em;
                font-size : larger;
                width     : 4em;
                text-align: right;
            }
        }

        .msg-info {
            margin-right   : 1em;
            justify-content: space-evenly;
            color          : white;
            align-items    : flex-end;

            p {
                font-size : small;
                text-align: right;
            }

            ul {
                margin-top: 0.5em;
            }

            li {
                list-style   : none;
                // margin-top: 1em;
                font-size    : small;
                text-align   : right;
            }

        }
    }


}