body {
    font-family: TsangerShuYuanTW02;
}

.send {
    position: relative;
    width   : 100vw;
    height  : 87vh;

    .select-tag {
        position        : absolute;
        width           : 80vw;
        height          : 37vh;
        border-radius   : 3vh;
        background-color: rgb(249, 210, 146);
        z-index         : 99;

        .tagcontent {
            position: absolute;
            width   : 80%;
            height  : 80%;

            .tag {
                position   : relative;
                display    : inline-block;
                height     : 30%;
                width      : 30%;
                box-sizing : border-box;
                margin-left: 2vw;

                img {
                    display: inline-block;
                    width  : 100%;
                    height : 100%;
                }

                p {
                    position   : absolute;
                    top        : 35%;
                    left       : 23.5%;
                    height     : 100%;
                    width      : 100%;
                    font-family: TsangerShuYuanTW02;
                    color      : white;
                    font-size  : 2.5vh;
                }
            }



        }

    }

    .alert {
        position        : absolute;
        top             : -13vh;
        height          : 100vh;
        width           : 100vw;
        background-color: black;
        opacity         : 0.5;
        z-index         : 90;
    }

    .content {
        position         : relative;
        top              : 48%;
        left             : 50%;
        transform        : translate(-50%, -50%);
        width            : 80vw;
        height           : 13.6vh;
        background-image : url('./images/alert.svg');
        background-repeat: no-repeat;
        z-index          : 99;
        background-size  : cover;
        color            : #FF7A59;
        font-size        : 2.5vh;
        text-align       : center;
        box-sizing       : border-box;
        padding-top      : 3.5vh;
    }

    .sendbc {
        position         : relative;
        margin-left      : 5%;
        top              : 27vh;
        width            : 90%;
        min-height       : 55vh;
        background-image : url('./images/sendbc.svg');
        background-repeat: no-repeat;
        background-size  : cover;
        display          : flex;
        flex-direction   : column;
        align-items      : center;
        justify-content  : start;
        padding-bottom   : 4%;



        .notes {
            display: relative;
            background-image: linear-gradient(to right, rgb(241, 197, 126) 10px, transparent 10px),
                linear-gradient(to left, rgb(241, 197, 126) 10px, transparent 10px),
                linear-gradient(rgb(241, 197, 126) 30px, black 30px, black 31px, white 31px);
            border          : 0px;
            background-size : 100% 100%, 100% 100%, 100% 31px;
            line-height     : 30px;
            font-family     : TsangerShuYuanTW02;
            width           : 80%;
            min-height      : 21vh;
            background-color: rgb(241, 197, 126);
            resize          : none;
            color           : white;
            padding         : 8px;
            font-size       : medium;
            margin-top      : .8em;
        }

        .notes:focus {
            outline: none;
        }

        .send-msg {
            height       : 30%;
            width        : 87%;
            color        : white;
            margin-bottom: 3%;

            .tip {
                color    : gray;
                font-size: small;
            }

            .name {
                margin-bottom: 1.5vh;

                input {
                    width        : 21.3vw;
                    height       : 2vh;
                    margin-left  : 5vw;
                    border       : 0ch;
                    border-radius: 1vh;
                    padding      : 1vw;
                    font-family  : TsangerShuYuanT\ W02;
                }
            }

            .number {
                p {
                    display      : inline-block;
                    margin-bottom: 1.5vh;
                }



                select {
                    background-color: white;
                    margin-left     : 1vw;
                    border          : 0ch;
                    border-radius   : 1vh;
                    height          : 3vh;
                    color           : #FF7A59;
                }

                input {
                    width        : 24.3vw;
                    height       : 2vh;
                    margin-left  : 3vw;
                    border       : 0ch;
                    border-radius: 1vh;
                    padding      : 1vw;
                    font-family  : TsangerShuYuanT\ W02;
                }
            }
        }

        .tosend {
            width        : 26.7vw;
            height       : 3.71vh;
            margin-bottom: 3vh;

            img {
                width : 100%;
                height: 100%;
            }
        }
    }

    .ink {
        position: absolute;
        width   : 37.6vw;
        height  : 16.75vh;
        top     : 16vh;
        z-index : 2;

        img {
            width : 100%;
            height: 100%;
        }
    }


}