@import "../../config/globalCssVar.scss";

.sendPage {
  display: flex;
  flex-direction: column;

  #btnSelectTag {
    display: flex;
  }

  .send {
    background-image: url("../../static/images/postBG.png");
    background-size: contain;
    width: 90vw;
    margin: 0 5vw;
    height: 130vw;

    .sendbc {
      margin: 11% 10% 1% 10%;
      height: 88%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .notes {
        border: 0;
        border-radius: 0.4em;
        line-height: 30px;
        font-family: Tensentype-MaiHeiJ;
        height: 48%;
        resize: none;
        color: #577dab;
        background-color: transparent;
        margin: 8%;
        margin-right: unset;
        padding-right: 8%;
        font-size: medium;
      }

      :focus {
        outline: none;
      }

      ::placeholder {
        color: #577dab;
      }

      .send-msg {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2em;
        width: 100%;

        .sendContent {
          display: flex;
          flex-grow: 5;
          flex-direction: column;
          align-self: flex-end;
          align-items: stretch;
          gap: 0.5em;
          & > * {
            display: flex;
            justify-content: space-between;
            align-items: center;

            :last-child {
              max-width: 65%;
            }
            #complex-div {
              max-width: 65%;
              display: flex;
              flex-direction: row;
              #connect {
                flex: 1 1;
              }
            }

            p {
              font-size: 85%;
              text-align: left;
            }

            input {
              display: flex;
              height: 2em;
              border: none;
              border-radius: 0.5em;
              padding-left: 0.5em;
              margin-left: 0.5em;
              font-family: Tensentype-MaiHeiJ;
              background-color: #9fddb5;
            }

            select {
              background-color: white;
              width: 3.2em;
              border: none;
              border-radius: 0.5em;
              height: 2em;
              color: #577dab;
              display: flex;
              background-color: #f4c996;
              font-family: Tensentype-MaiHeiJ;
            }
          }
        }

        .sendBtn {
          display: flex;
          margin-left: 2%;
          margin-right: -5%;
        }
      }
    }
  }
  .tagmask {
    width: 80vw;
    margin: 10vw;
    height: 90vw;
    background-image: url("../../static/images/LoginPannelBGGreen.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    align-items: center;
    justify-content: space-around;

    .tags {
      position: relative;
      display: flex;
      width: 85%;
      border-radius: 1em;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 1em;

      .tag {
        margin: 1em 0;
        width: 30%;
        background-image: url("../../static/images/bottleTags.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: scale(120%);
        padding: 0.7em 0;

        p {
          color: #05346d;
        }
      }
    }
  }
}
