@import "../../config/globalCssVar.scss";

.mask {
  position: fixed;
  display: flex;
  z-index: 2001;
  top: 0vh;
  height: 100vh;
  width: 100%;
  max-width: $AppMaxWidth;
  background: rgba($color: gray, $alpha: 0.6);
  align-items: center;
  justify-content: space-around;

  .infoPanel {
    color: #577DAB;
    background-image: url("../../static/images/ConfirmPannelBG.png");
    background-repeat: no-repeat;
    transform: scale(100%);
    font-size: medium;
    border-radius: 1em;
    overflow: hidden;
    width: 70%;
    max-height: 50vh;
    display: flex;
    flex-direction: column;

    .textPanel {
      min-height: 3em;
      padding: 1em 1em;
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: center;
      justify-content: space-around;

      * {
        margin-top: 0.5em;
      }

      p {
        font-family: TsangerShuYuanTW02;
        font-weight: 700;
        font-size: large;
        text-align: center;
      }
    }

    .confirmPanel {
      display: flex;
      margin-top: 1vh;
      div {
        padding: 0.5em 0;
        width: 50%;
        text-align: center;
      }

      .confirmFalse {
        border-right: 1px solid white;
        border-top-left-radius: 20%;
        border-top: 0.5px solid white;
        // background-color: white;

      }

      .confirmTrue {
        // background-color: #ff7a59;
        border-top: 0.5px solid white;
        border-top-right-radius: 15%;
      }
    }
  }
}