@import "../../config/globalCssVar.scss";

.mask {
  position: fixed;
  display: flex;
  z-index: 2001;
  top: 0vh;
  height: 100vh;
  width: 100%;
  max-width: $AppMaxWidth;
  background: rgba($color: gray, $alpha: 0.6);
  align-items: center;
  justify-content: space-around;

  .infoPanel {
    color: #577DAB;
    background-image: url("../../static/images/ConfirmPannelBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(100%);
    font-size: medium;
    border-radius: 1em;
    overflow: hidden;
    width: 70%;
    max-height: 50vh;
    display: flex;
    flex-direction: column;

    .textPanel {
      min-height: 3em;
      padding: 1em 1em;
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: center;
      justify-content: space-around;

      * {
        margin-top: 0.5em;
      }

      p {
        font-family: TsangerShuYuanTW02;
        font-weight: 700;
        font-size: large;
        text-align: center;
      }
    }

    .confirmPanel {
      display: flex;
      flex-direction: row;
      margin: 1vh 8vw 2vh;


      div {
        // border: 1px solid black;
        padding: 0.5em 0;
        width: 50%;
        text-align: center;
      }

      .confirmFalse {
        margin-left: 6vw;
        width: 4em;
        background-image: url("../../static/images/btnOrange.png");
        background-size: cover;
        border-radius: 0.7em;
        color: white;
        font-weight: 800;
      }

      .confirmTrue {
        margin-left: 10vw;
        width: 4em;
        background-image: url("../../static/images/btnWhite.png");
        background-size: cover;
        border-radius: 0.7em;
        font-weight: 800;
      }
    }
  }
}