@import "config/globalCssVar.scss";

@font-face {
    font-family: "TsangerShuYuanTW02";
    src        : url("./static/font/TsangerShuYuanT W02.TTF");
}

@font-face {
    font-family: "TsangerXWZ";
    src        : url("./static/font/TsangerXWZ.TTF");
}

@font-face {
    font-family: "PingFangSC";
    src        : url("./static/font/苹方-简.ttf");
}

* {
    padding: 0;
    margin : 0;
}


body {
    background-color: rgb(251, 209, 146);
}


.app {
    min-height    : 100vh;
    max-width     : $AppMaxWidth;
    display       : flex;
    flex-direction: column;
    margin        : auto;
    overflow      : hidden;


    .content {
        flex-grow: 1;
    }
}

p {
    font-family: PingFangSC;
}