@import "config/globalCssVar.scss";

@font-face {
  font-family: "TsangerShuYuanTW02";
  src: url("https://ryzenx.oss-accelerate.aliyuncs.com/font/TsangerShuYuanTW02.TTF");
}

@font-face {
  font-family: "TsangerXWZ";
  src: url("https://ryzenx.oss-accelerate.aliyuncs.com/font/TsangerXWZ.TTF");
}

@font-face {
  font-family: "PingFangSC";
  src: url("https://ryzenx.oss-cn-hangzhou.aliyuncs.com/font/%E8%8B%B9%E6%96%B9-%E7%AE%80.ttf");
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(251, 209, 146);
  touch-action: none;
}

.app {
  min-height: 100vh;
  max-width: $AppMaxWidth;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;

  .content {
    flex-grow: 1;
  }
}

p {
  font-family: PingFangSC;
}
